<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-slot-heading" data-cy="SlotCreateUpdateHeading">Create or edit a Slot</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idAppointment">Id Appointment</label>
          <input
            type="number"
            class="form-control"
            name="idAppointment"
            id="field_idAppointment"
            data-cy="idAppointment"
            formControlName="idAppointment"
          />
          <div
            *ngIf="
              editForm.get('idAppointment')!.invalid && (editForm.get('idAppointment')!.dirty || editForm.get('idAppointment')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('idAppointment')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('idAppointment')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_availability">Availability</label>
          <select class="form-control" name="availability" formControlName="availability" id="field_availability" data-cy="availability">
            <option [ngValue]="null"></option>
            <option *ngFor="let stateSlot of stateSlotValues" [value]="stateSlot">stateSlot</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeStart">Time Start</label>
          <div class="input-group">
            <input
              id="field_timeStart"
              data-cy="timeStart"
              type="text"
              class="form-control"
              name="timeStart"
              ngbDatepicker
              #timeStartDp="ngbDatepicker"
              formControlName="timeStart"
            />
            <button type="button" class="btn btn-secondary" (click)="timeStartDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeEnd">Time End</label>
          <div class="input-group">
            <input
              id="field_timeEnd"
              data-cy="timeEnd"
              type="text"
              class="form-control"
              name="timeEnd"
              ngbDatepicker
              #timeEndDp="ngbDatepicker"
              formControlName="timeEnd"
            />
            <button type="button" class="btn btn-secondary" (click)="timeEndDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_doctor">Doctor</label>
          <select
            class="form-control"
            id="field_doctor"
            data-cy="doctor"
            name="doctor"
            formControlName="doctor"
            [compareWith]="compareDoctor"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="doctorOption" *ngFor="let doctorOption of doctorsSharedCollection">{{ doctorOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_clientConnect">Client Connect</label>
          <select
            class="form-control"
            id="field_clientConnect"
            data-cy="clientConnect"
            name="clientConnect"
            formControlName="clientConnect"
            [compareWith]="compareClientConnect"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="clientConnectOption" *ngFor="let clientConnectOption of clientConnectsSharedCollection">
              {{ clientConnectOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_calendar">Calendar</label>
          <select
            class="form-control"
            id="field_calendar"
            data-cy="calendar"
            name="calendar"
            formControlName="calendar"
            [compareWith]="compareCalendar"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="calendarOption" *ngFor="let calendarOption of calendarsSharedCollection">{{ calendarOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
